 .app-header {
                min-height: 70px;
                border: 1px solid black;
                z-index: 50;
                background-color: white;
            }

            .app-frame {
                flex: 1;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
                flex-direction: row;
                z-index: 100;
                background-color: white;
            }

                .app-frame > .app-left-frame {
                    min-width: 150px;
                    border: 1px solid black;
                    z-index: 100;
                    background-color: white;
                }

                .app-frame > .app-center-frame {
                    display: -webkit-flex;
                    display: flex;
                    flex: 1;
                    border: 1px solid black;
                    z-index: 0;
                    background-color: white;
                }

                .app-frame > .app-right-frame {
                    min-width: 250px;
                    border: 1px solid black;
                    z-index: 50;
                    background-color: white;
                }

            .app-footer {
                min-height: 38px;
                border: 1px solid black;
                z-index: 25;
                background-color: white;
            }

            .modal-backdrop {
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .modal-backdrop.show {
                    /*display: block;*/
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(128, 135, 157, 0.7);
                    z-index: 500;
                }

                .modal-backdrop.hide {
                    display: none;
                    z-index: 0;
                }